<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-5">
    <div style="padding-top: 150px">
      <h3>Category Information</h3>
      <hr>
      <label for="categoryname" class="col-form-label">Category Name</label>
      <input class="form-control" type="text" id="categoryname" [(ngModel)]="categoryName" (input)="showBtns()" />
      <label for="categorydescription" class="col-form-label">Description</label>
      <textarea class="form-control" id="categorydescription" [(ngModel)]="categoryDescription"></textarea>
      <br/>
      <div *ngIf="shouldShowBtn()" class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button *ngIf="!operationRequired()" type="button" class="btn btn-success" (click)="addNode()">Add Child</button>
          <button type="button" class="btn btn-primary" (click)="addRootNode()">Add Root</button>
          <button *ngIf="!operationRequired()" type="button" class="btn btn-warning" (click)="updateNode()">Update</button>
          <button *ngIf="!operationRequired()" type="button" class="btn btn-danger" (click)="deleteNode()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-4 border-left border-light container-fluid">
    <div style="padding-right: 50px; padding-top: 50px">
      <h4>Taxonomy</h4>
      <hr>
    </div>
    <div class="container-fluid" style="height: 350px; padding-bottom: 50px">
      <tree-root (initialize)="onInit()" [nodes]="nodes" [options]="options"></tree-root>
    </div>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button  [disabled]="!shouldShowBtn()" type="button" class="btn btn-light" (click)="addChosenNode()">+</button>
        <button [disabled]="operationRequired() || !shouldShowBtn()" type="button" class="btn btn-light" (click)="deleteNode()">-</button>
      </div>
    </div>
    <div *ngIf="shouldShowDescription()">
      <h5>Node Description:</h5><hr>
      <p>Name: {{ tempname }} <br> Description: {{ tempdesc }} </p>
    </div>
  </div>
</div>
