<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="row">
  <div class="col-lg-2 border-right border-light" style="height: 100%; background: #ffffff; padding-left: 30px; padding-top: 20px; padding-right: 5px">
    <h5>Product Details</h5>
    <hr>
    Mediocre but rapidly evolving product.<br>
    <ul>
      <li>Tree nodes can only be created on name input.</li>
      <li>Clicking a node will allow you to add inner categories and update or delete them.</li>
      <li>We allow operations like Add Root, Add Node, Update Node and Remove Node.</li>
    </ul>


  </div>
  <div class="col-lg-10">
    <app-nodetree></app-nodetree>
  </div>
  </div>
